* {margin: 0;padding: 0;}

.colorFondo {
    background-color: burlywood;
}


.fondoMain {
    background-color: rgb(241, 240, 240);
}


.alturaCarousel {
    height: 700px;
}

.posicionCarousel {

    position:absolute;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.titulo {
    flex: 0 0 100%;
    max-width: 100%;
}

.carouselCaption2 {
    position: absolute;
    right: 15%;
    top: 10rem ;
    left: 15%;
    padding-top: 0;
    padding-bottom: 1.25rem;
   color: #fff;
   text-align: center;
}

.tipografia {
    font-family:  'Bahiana', cursive;
    font-size: bold;
}


.eventos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2%;
    background-color: #fff;
    background-clip: border-box;
    border: 1px
    solid rgba(0,0,0,.125);
    margin-left: 5%;
    margin-bottom: 3%;
    border-radius: 0.25rem;

}

.rounded1 {
    border-radius: 1,25rem;
}

.flexProductos img:hover  {
    transform: scale(1.10);
}
    
.nosotros {
    background-color: #fff;
    padding: 2%;
    margin-left: 10%;
    margin-bottom: 3%;
    border-radius: 0.25rem;
    border: 1px
    solid rgba(0,0,0,.125);

}

.recetas {
    align-items: center;
    background-color: #fff;
    margin: 3%;
    border-radius: 0.25rem;
    border: 1px
    solid rgba(0,0,0,.125);
}

.recetas1 {
    align-items: center;
    margin-left: 30%;



}

    









